@font-face {
  font-family: 't3chicons';
  src:  url('fonts/t3chicons.eot?gu54hn');
  src:  url('fonts/t3chicons.eot?gu54hn#iefix') format('embedded-opentype'),
    url('fonts/t3chicons.ttf?gu54hn') format('truetype'),
    url('fonts/t3chicons.woff?gu54hn') format('woff'),
    url('fonts/t3chicons.svg?gu54hn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 't3chicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-discord:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-github:before {
  content: "\eab0";
}
